/*  Services  */

.services {
    padding: 54px 0 50px;
  
    &__title {
      @extend %section__title;
  
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 64px;
  
      &::after {
        display: block;
        width: 60px;
        height: 4px;
        background-color: $underline-color;
        content: '';
        margin: 0 auto;
        margin-top: 42px;
      }
  
      &--stylized {
        @extend %section__title--stylized;
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 20px;
      }
    }
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    &__item {
      position: relative;
      flex-basis: 380px;
      padding-left: 80px;
  
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 98px;
      }
  
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 80px;
        height: 32px;
      }
  
      &--icon-clock::before {
        background-image: url(../images/icons/clock.png);
      }
  
      &--icon-line::before {
        background-image: url(../images/icons/line.png);
      }
  
      &--icon-computer::before {
        background-image: url(../images/icons/computer.png);
      }
  
      &--icon-book::before {
        background-image: url(../images/icons/book.png);
      }
  
      &--icon-house::before {
        background-image: url(../images/icons/house.png);
      }
  
      &--icon-picture::before {
        background-image: url(../images/icons/picture.png);
      }
  
      &--title {
        @include font(14px, 17px, 400);
  
        margin-bottom: 15px;
        text-transform: uppercase;
      }
  
      &--description {
        @include font(15px, 24px, 400, $secondary-font);
  
        color: $description-color;
      }
    }
  }
  
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .services__item--icon-clock::before {
      background-image: url(../images/icons/clock@x2.png);
    }
  
    .services__item--icon-line::before {
      background-image: url(../images/icons/line@x2.png);
    }
  
    .services__item--icon-computer::before {
      background-image: url(../images/icons/computer@x2.png);
    }
  
    .services__item--icon-book::before {
      background-image: url(../images/icons/book@x2.png);
    }
  
    .services__item--icon-house::before {
      background-image: url(../images/icons/house@x2.png);
    }
  
    .services__item--icon-picture::before {
      background-image: url(../images/icons/picture@x2.png);
    }
  }